In [92]:
import pandas as pd

In [93]:
df= pd.read_csv('data1.csv')

In [94]:
# Correct way to get the shape of the DataFrame
df_shape = df.shape

# Print the shape
print(df_shape)

(18396, 17)

In [95]:
df.head()

,Rooms,Type,Price,Method,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,2,1,1480000,2,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,32.0,-37.7996,144.9984,3.0,4019.0
1,2,1,1035000,2,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,32.0,-37.8079,144.9934,3.0,4019.0
2,3,1,1465000,4,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,32.0,-37.8093,144.9944,3.0,4019.0
3,3,1,850000,1,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,32.0,-37.7969,144.9969,3.0,4019.0
4,4,1,1600000,5,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,32.0,-37.8072,144.9941,3.0,4019.0

In [96]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.impute import SimpleImputer
from sklearn.metrics import mean_squared_error
import numpy as np

# Sample dataset (replace this with your actual dataset)
# df = ...

# Extract the target variable and features
X = df.drop('Price', axis=1)
y = df['Price']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Function to impute missing values and calculate RMSE
def impute_and_calculate_rmse(X_train, X_test, y_train, y_test, impute_method):
    # Impute missing values in training and testing sets
    if impute_method == 'drop':
        X_train_imputed = X_train.dropna()
        y_train_imputed = y_train.loc[X_train_imputed.index]
        X_test_imputed = X_test.dropna()
        y_test_imputed = y_test.loc[X_test_imputed.index]
    else:
        imputer = SimpleImputer(strategy=impute_method)
        X_train_imputed = pd.DataFrame(imputer.fit_transform(X_train), columns=X_train.columns)
        X_test_imputed = pd.DataFrame(imputer.transform(X_test), columns=X_test.columns)
        y_train_imputed = y_train
        y_test_imputed = y_test

    # Train a model
    model = LinearRegression()
    model.fit(X_train_imputed, y_train_imputed)

    # Predict on the testing set
    y_pred = model.predict(X_test_imputed)

    # Calculate RMSE
    rmse = np.sqrt(mean_squared_error(y_test_imputed, y_pred))
    return rmse

# Compare RMSE for different imputation methods
rmse_mean = impute_and_calculate_rmse(X_train, X_test, y_train, y_test, 'mean')
rmse_forward_fill = impute_and_calculate_rmse(X_train, X_test, y_train, y_test, 'constant')
rmse_ml_model = impute_and_calculate_rmse(X_train, X_test, y_train, y_test, 'mean')
rmse_drop = impute_and_calculate_rmse(X_train, X_test, y_train, y_test, 'drop')

print(f'RMSE (Mean Imputation): {rmse_mean}')
print(f'RMSE (Forward Fill Imputation): {rmse_forward_fill}')
print(f'RMSE (Machine Learning Model Imputation): {rmse_ml_model}')
print(f'RMSE (Drop Missing Values): {rmse_drop}')

RMSE (Mean Imputation): 428062.78553278913
RMSE (Forward Fill Imputation): 439799.7750078213
RMSE (Machine Learning Model Imputation): 428062.78553278913
RMSE (Drop Missing Values): 375455.4313943043

In [97]:
df.shape

(18396, 17)

In [98]:
# Drop rows with any missing values
df = df.dropna()

In [99]:
import pandas as pd

# Assuming your DataFrame is named df
# You can replace df with your actual DataFrame variable name
missing_values = df.isnull().sum()

print("Missing values in each column:")
print(missing_values)

Missing values in each column:
Rooms            0
Type             0
Price            0
Method           0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
YearBuilt        0
CouncilArea      0
Lattitude        0
Longtitude       0
Regionname       0
Propertycount    0
dtype: int64

In [100]:
df.shape

(6196, 17)

In [101]:
# Create a copy of the original DataFrame and replace the target variable with the predicted values
clean2 = df.copy()


# Save the cleaned dataset to a CSV file
clean2.to_csv('clean2.csv', index=False)

In [102]:
df=pd.read_csv('clean2.csv')

In [103]:
import pandas as pd

# Assuming your DataFrame is named df
# You can replace df with your actual DataFrame variable name
missing_values = df.isnull().sum()

print("Missing values in each column:")
print(missing_values)

Missing values in each column:
Rooms            0
Type             0
Price            0
Method           0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
YearBuilt        0
CouncilArea      0
Lattitude        0
Longtitude       0
Regionname       0
Propertycount    0
dtype: int64

In [104]:
df.shape

(6196, 17)